[build]
  command = "gatsby build"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/news/"
  to = "/blog"

[[plugins]]
  package = "@netlify/plugin-gatsby"

[[plugins]]
  package = "netlify-plugin-cypress"

  [plugins.inputs.postBuild]
    enable = true

  [plugins.inputs]
    enable = false